Source: ros-kinetic-webkit-dependency
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-webkit-dependency
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-pyqt5.qtwebkit
Description: This encapsulates the WebKit dependency for a specific ROS distribution and its Qt version
