Source: ros-noetic-webkit-dependency
Section: misc
Priority: optional
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-webkit-dependency
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-pyqt5.qtwebkit
Description: This encapsulates the WebKit dependency for a specific ROS distribution and its Qt version
